.color-pallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    /* esconde o radio (mantém acessível) */
    & input[type="radio"] {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    & .radio-style{ 
        --size: 1.7rem;
        width: var(--size);
        height: var(--size);
        border-radius: 999px;
        background-color: var(--color-radio);

        cursor: pointer;

        /* “borda” escura tipo da imagem */
        box-shadow:
            0 0 0 6px rgba(0,0,0,.35),   /* aro externo escuro */
            inset 0 0 0 2px rgba(255,255,255,.15); /* brilho leve */
        transition: transform .12s ease, box-shadow .12s ease;

        &:hover {
            transform: translateY(-1px);
        }
    }

    & input[type="radio"]:checked + .radio-style {
        box-shadow:
        0 0 0 6px rgba(0,0,0,.35),
        0 0 0 10px rgba(64, 160, 255, .95), /* anel azul */
        inset 0 0 0 2px rgba(255,255,255,.15);
    }

    /* foco via teclado (TAB) */
    & input[type="radio"]:focus-visible + .radio-style{
        outline: 2px solid rgba(255,255,255,.55);
        outline-offset: 4px;
    }   


}