.container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    & .cards {
        width: 134px;
        height: 103px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #2a2828;
        padding: 4px 4px 4px 8px;
        gap: 1px;

        border: 1px solid var(--shape-background);
        cursor: pointer;

        & .label {
            margin-bottom: 0;
            justify-content: center;
        }

        &:hover {
            border-color: var(--border-active);
        }
    } 
}