aside {
    & .aside-container{
        position: relative;
        padding: 2rem;
        width: 100%;
        height: 100%;
        z-index: 0;
    
        & .background-image {
            object-fit: cover;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            
        }

        & .header-container {
            display: flex;
            flex-direction: column;
            padding: 2rem;

            & .icon-logo {
                width: 45px;
                height: 45px;
            }

            h1 {
                color: var(--pink);
                font: var(--logo);
            }

            p {
                color: var(--text-body);
                font: var(--body-sx);
            }
        }
    }
}