* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* font family */
    --leckerliOne: "Leckerli One", cursive;
    --baloo2: "Baloo 2", sans-serif;
    --openSans: "Open Sans", sans-serif;


    /* size and weight */
    --logo: 400 2.5rem/1.5 var(--leckerliOne);

    --heading-md: 700 1.75rem/1.5 var(--baloo2);
    --heading-sm: 700 1.125rem/1.5 var(--baloo2);

    --body-md: 400 1.5rem/1.5 var(--openSans);
    --body-sm: 300 0.875rem/1.5 var(--openSans);
    --body-xs: 300 0.75rem/1.5 var(--openSans);


    /* colors */
    --pink: #FF598B;
    --text-heading: #F9F9F9;
    --text-body: #C8CDD0;
    --shape-background: #131516;
    --border-active: #59B2FF;
}


body {
    overflow: hidden;
    color: var(--text-body);
    caret-color: transparent; /* esconde a caret por padrão */
}

/* padrão de espaçamento entre os elementos */
.flex-pattern {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* disposição do conteúdo dos cabeçalhos dos formulários */
.header-style {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    h2 {
        font: var(--heading-sm);
        color: var(--text-heading);
    }
}

span,
.field-label {
    display: inline-block;
    font: var(--body-xs);
    color: var(--text-body);
    margin-bottom: 12px;
}

/* esconde o icone do calendário */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* Inputs (exceto radio e checkbox) + textarea */
input:not([type="radio"]):not([type="checkbox"]),
textarea {
    width: 100%;
    height: 48px;

    border-radius: 8px;
    border: 1px solid var(--shape-background);

    padding: 16px;

    font: var(--text-body);
    color: #869198;
    background-color: #1d1c1c;

    outline: none;

    &:focus {
        border-color: var(--border-active);
    }
}

/* Textarea (Descrição) */
textarea {
    height: 160px;
    resize: vertical;
}