main {
    & .main-container {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        padding: 5rem 8.12rem;

        background-color: var(--shape-background);

        & .header-container {
           h1 {
            font: var(--heading-md);
            color: var(--text-heading);

            margin-bottom: 2.5rem;
           }
        }
    }

}